@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  /* justify-content: center;
  align-items: center; */
  background-color:midnightblue;
}

h1 {
  color: azure;
}

h2 {
  color: azure;
}

p {
  color: azure;
}

.text-container {
  width: 800px;
}